<title>Student Profile</title>

<div id="container">
<div id="botNum">
    <a id="back-btn" class="btn btn-outline-light" href="/leaderboard" role="button">←　Back to Leaderboard</a>

<h1 class="center"> {{botName}}'s Player Profile </h1>
</div>
<div id="playerIdDiv" style="display: none"> {{playerId}}</div>
<div id="profileStats">
    <div id="profileLeft" class="m-4">
        {{!-- <img src="homelogo.png" alt="Bot Team Icon" class="img"> --}}
        <h2 id="botName" class="center" style="color:#39F3FF"> {{botName}} </h2>
        <p>Player id: {{playerId}}</p>
        <p>Teammate 1: {{partner1}}</p>
        <p>Teammate 2: {{partner2}}</p>
        {{!-- <p id="totalMatches">Total Matches: '{{totalMatches}}'</p> --}}
    </div>
    <div id="profileRight">
        <div id="playerInfo" class="m-4">
        {{!-- <p>Player id: {{playerId}}</p> --}}
        {{!-- <div class="statDetails">
            <p style="text-decoration: underline;">Teammate 1: </p>
            <p>{{partner1}}</p>
        </div>
        <div class="statDetails">
            <p style="text-decoration: underline;">Teammate 2: </p>
            <p>{{partner2}}</p>
        </div> --}}
        <div class="statDetails">
            <p class="statsTop">ELO: </p>
            <p>{{elo}}</p>
        </div>
        <div class="statDetails">
            <p class="statsTop">Score: </p>
            <p>{{score}}</p>
        </div>
        <div class="statDetails">
            <p class="statsTop long">Total Matches: </p>
            <p id="totalMatches">{{totalMatches}}</p>
        </div>
        <div class="statDetails">
            <p class="statsTop long">Total Wins: </p>
            <p id="totalWins">{{totalMatches}}</p>
        </div>
                <div class="statDetails">
            <p class="statsTop long" >Total Losses: </p>
            <p id="totalLosses"></p>
        </div>
        {{!-- <div class="statDetails" id="partner3div" style="visibility: collapse;">
            <p style="text-decoration: underline;">Partner 3: </p>
            <p>{{partner3}}</p>
        </div> --}}
       
        </div>
        <div id="matchHistories" class="m-4">
            <p>MATCH HISTORY:</p>
            <ul id="matchHistory"></ul>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small pt-4 my-footer">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Get Started</h5>
        <p id="footerP">Want To Know More About Our Games?</p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">CSCI1410@Brown</h5>
        <ul class="list-unstyled">
          <li>
            <a href="http://cs.brown.edu/courses/csci1410/">CSCI1410@Brown</a>
          </li>
          <li>
            <a href="http://cs.brown.edu/courses/csci1410/assignments/tron.pdf">Final Project</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Tron</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://en.wikipedia.org/wiki/Tron#Tron:_Legacy">Tron 1982</a>
          </li>

        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="http://cs.brown.edu/courses/csci1320/"> CSCI1320@Brown</a>
  </div>
  <!-- Copyright -->

</footer>
</div>

<style>
    body{
        color: #dfd9d7;
        box-sizing: border-box;
        font-family: 'VT323', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        /*background-image: url('https://4.bp.blogspot.com/-BweIufIseaQ/T77OxbauWeI/AAAAAAABIlA/iqqcL7P0DgA/s1600/TRON_UPRISING_MIELGO.jpg');*/
    }

    h1 {
        font-size: 4vw;
    }


    h2 {
        font-size: 4vw;
    }
    p{
        font-size: 2.5vw;
    }

    img {
        min-width: 200px;
    }

    a {
      color: #85d7f8;
    }
    a:hover {
    color: white;
    text-decoration: none;
}

    #footerP {
        font-size: 1em;
    }

    #container {
        display:flex;
        flex-direction: column;
    }


    #matchHistory {
        list-style-type: none;
        text-align: center;

    }
    #match {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    #match:hover{
        cursor: pointer;
        background-color: #343a40!important;
        border-bottom: solid;
        border-color: : #dfd9d7;
    }
    #profileStats {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2.5%;

    }

    #botNum{
        /*width: 50%;        
        margin-top: 30px;
        margin-left: 25%;*/
        color: #ff5722;
        color: #39F3FF;

    }
    .center{
        text-align: center;
        vertical-align: middle;
    }
    #profileLeft {
        flex: 1;
        border: 1px solid white;
        text-align: center;
        height: fit-content;
        font-size: 3vh;
    }

    #profileRight{
        display: flex;
        flex-direction: column;
        flex: 2;
    }

    .statDetails {
        margin: 20px;
        display: flex; 
        flex-direction: column;


        
    }

    #playerInfo{
        /*
        width: 70%;
        margin-left: 15%;
        flex: 2;*/
        display: flex;
        flex-direction: row;
        border: 2px dashed #6BBABF;
        text-align: center;
        height: auto;
        background: rgba(0, 0, 0, 0.7);
        justify-content: space-around;
        

    }
    #matchHistories{
        height: auto;
       /*width: 50%;
        margin-left: 25%; */
        flex: 1;
        /*border: 3px dashed #eea4ed;*/
        border: 2px dashed #6BBABF;
        text-align: left;
        background: rgba(0, 0, 0, 0.7);
        font-size: 5vh;
        height:fit-content;
        padding: 2%;

    }
    
    .img {
        width: 5vw;
    }

    .replayLink {
        color: #ff5722;
    }
    .replayLink:hover {
        color: white;
    }

    .statsTop {
        flex: 1;
        border-bottom: 2px solid #ff5722;
        margin: auto 0 auto 0;

    }

    .long {
        font-size: 2vw
    }



</style>
<script src="/js/studentProfile.js"></script>